<% provide(:title, 'Deposit Money') %>
<div id="deposit-money-page">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <p>We created Chime for one very powerful reason: to help our members lead healthier financial lives. Sounds simple, right?</p>
      <p>But it isn't. Saving money is hard, and too often banks aren't making it easier. At Chime we're dedicated to building a new kind of bank account that makes the hard parts of managing money easy.</p>
      <p>How do we do this? By eliminating unnecessary fees and using technology to help our members form healthy financial habits.</p>
      <p>We not only serve our members, we protect them. We will never benefit from their misfortune or mistakes. Everything we do is designed to help our members save money and put them in control.</p>
      <p>Money doesn't define us. But the choices we make with it reflect who we are and what we value. Chime aspires to be your clear choice by doing what we believe is the right thing: putting people first.</p>
      <p>It's your money. It's your life. Chime in.</p>
      <div class="vertical-spacer2"></div>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="vertical-spacer1"></div>
      <h2>Our Investors</h2>
      <div class="vertical-spacer1"></div>
      <ul class="list-unstyled list-inline text-center row investors">
        <li><%= link_to image_tag('site/company_aspectventures.png'), 'http://www.aspectventures.com/', title: 'Aspect Ventures', target:'_blank' %></li>
        <li><%= link_to image_tag('site/company_crosslink.png'), 'http://www.crosslinkcapital.com/', title: 'Crosslink Capital', target:'_blank' %></li>
        <li><%= link_to image_tag('site/company_forerunner.png'), 'http://www.forerunnerventures.com/', title: 'Forerunner Ventures', target:'_blank' %></li>
        <li><%= link_to image_tag('site/company_homebrew.png'), 'http://www.homebrew.co/', title: 'Homebrew', target:'_blank' %></li>
        <li><%= link_to image_tag('site/company_pivotnorth.png'), 'https://twitter.com/Pivotnorth', title: 'Pivot North Capital', target:'_blank' %></li>
      </ul>
      <div class="vertical-spacer4"></div>
    </div>
  </div>
</div>
